<tr>
  <td>
    <br />
  </td>
</tr>

<tr class="items">

    <tr>
        <td>
            Name: <%= item.item_name %><br>
        </td>
        <td>
            Description: <%= item.item_description %><br>
        </td>
        <td>
            Individual Cost: $<%= item.item_price %><br>
        </td>
        <td>
        <% if current_user.userType == "A" || current_user.userType == "S"%>
        <%= link_to "edit", edit_item_path(item) %>
        <% end %>
        <% if current_user.userType == "A" || current_user.userType == "S"%>
            <%= link_to "delete", item, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
    </tr>
    <tr>
      <td colspan=2>
        <hr />
      </td>

    </tr>

</tr>
